.App {
  text-align: center;
  background-color: rgb(46, 46, 46);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #222;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: #FFFFFF;
}

.button-custom {
  background-color: #AAAAAA; /* 按鈕背景顏色 */
  color: #fff; /* 按鈕文字顏色 */
  margin-top: 24px; /* 上邊距 */
}

.button-custom:hover {
  background-color: #0056b3; /* 滑鼠懸停時的背景顏色 */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}